 body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #ffffff;
        }

        h1 {
            font-size: 2em;
            color: red;
            font-weight: bold;
        }

        a {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: red;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #000000;
        }
        .custom-button {
       background-color: black;
      color: #00cfff; /* Helder cyaan/blauw */
      border: none;
      border-radius: 12px;
      padding: 12px 24px;
      font-size: 16px;
      font-family: sans-serif;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transition: background-color 0.3s ease;
    }

    .custom-button:hover {
      background-color: #00cfff; /* Cyaan/blauw */
      color: rgb(255, 255, 255);
    }

    .custom-text {
      font-weight:bold ;
      color: #000000;
    }